@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #23242A;
}

#as-menu {
    display: flex;
    flex-direction: column;
    width: 18vw;
    gap: 1vw;
    background-color: #1c1c1c;
    float: left;
    padding: 1vh 1vw;
}


.container-filtro {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding-left: 20%;
    align-items: center;
    height: 7vh;
    gap: 1vw;
    color: #45F3FF;
    text-align: start;
}

#as-menu :hover {
    background-color: #34353D;
    border-radius: 7px;
}


.img-categoria {
    width: 25px;
    height: 25px;
}

footer {
    padding: 0 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1c1c;
    height: 10vh;
    border-top: 1px solid #45F3FF;
}

.img_logo {
    width: auto;
    height: 10vh;
}


#elements-izq {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #45F3FF;
}

#elements-dir {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    color: #45F3FF;

}

#HD {

    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 7rem;

}

.AA {
    color: #45F3FF;
    font-family: 'Poppins', sans-serif;
    margin-right: 30vw;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background: #1C1C1C;
    align-items: center;
    height: 10vh;
    border-bottom: 1px solid #45F3FF;

}

.SG {

    display: flex;
    flex-direction: row;
    align-items: center;

}

.text {
    color: #45F3FF;
    font-size: 30px;

}

main {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.article_games {
    display: flex;
    flex-direction: column;
    padding-top: 8vw;
    padding-left: 21.5vw;
    align-items: center;
}

.main_games {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    gap: 2.5vw;
}

#btn_carregar_mais {
    width: 20vw;
    height: 10vh;
    border-radius: 1rem;
    font-size: 1.5rem;
    color: #45F3FF;
    background-color: #34353D;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
}

#btn_carregar_mais:hover {
    width: 20vw;
    height: 10vh;
    border-radius: 1rem;
    font-size: 1.5rem;
    color: white;
    background-color: #34353D;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
}

.game {
    background-color: #45F3FF;
    /*REMOVER A COR ANTES DA ENTREGA*/
    width: 23vw;
    height: 38vh;
    border-radius: 1rem;
    display: flex;
    align-items: flex-end;
    padding-left: 0.5rem;
}